ToolBar\:Bar {
	display:block;
	width:100%;
	height:24px;
	overflow:hidden;
	cursor:default;
}
ToolBar\:Box {
	width:100%;
	display:inline;
	overflow:hidden;
	padding:1px;
	margin-right:15px;
}
ToolBar\:ButtonMore{
	display:inline;
	position:relative;
	font-size:12px;
	width:10px;
	height:18px;
	padding:1px;
	line-height:12px;
	top:1px;
	margin-left:-12px;
	border:1px solid #E7E7E7;
}
ToolBar\:ButtonMore.active{
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #777777;
	border-bottom:1px solid #777777;
}
ToolBar\:ButtonMore.invert{
	border-left:1px solid #777777;
	border-top:1px solid #777777;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
ToolBar\:ButtonMore img {
	width:8px;
	height:16px;
}
ToolBar\:Button {
	display:inline;
	position:relative;
	font-size:12px;
	width:18px;
	height:18px;
	padding:1px;
	margin-bottom:2px;
	margin-right:3px;
	border:1px solid #E7E7E7;
}
ToolBar\:Button.active {
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #777777;
	border-bottom:1px solid #777777;
}
ToolBar\:Button.invert {
	border-left:1px solid #777777;
	border-top:1px solid #777777;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
ToolBar\:Button img {
	width:16px;
	height:16px;
	vertical-align:top;
}
ToolBar\:Button.disable {
}
ToolBar\:Button.disable img {
	filter:gray();
	opacity:0.4;
}
ToolBar\:ListButton {
	display:inline;
	position:relative;
	font-size:12px;
	width:18px;
	height:18px;
	padding:1px;
	margin-bottom:2px;
	margin-right:3px;
	border:1px solid #E7E7E7;
}
ToolBar\:ListButton img {
	width:16px;
	height:16px;
	vertical-align:top;
}
ToolBar\:ListButton img.arrow {
	width:7px;
	margin-left:3px;
}
ToolBar\:ListButton.active {
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #777777;
	border-bottom:1px solid #777777;
}
ToolBar\:ListButton.active img.arrow {
	border-left:2px outset #FFFFFF;
	margin-left:1px;
}
ToolBar\:ListButton.invert {
	border-left:1px solid #777777;
	border-top:1px solid #777777;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
ToolBar\:ListButton.invert img.arrow {
	border-left:2px outset #FFFFFF;
	margin-left:1px;
}
ToolBar\:Separator {
	display:inline;
	position:relative;
	font-size:12px;
	width:0px;
	height:18px;
	border:0px;
	background-image:url(../images/separator.gif);
	overflow:hidden;
	margin-right:3px;
	margin-bottom:3px;
}	
ToolBar\:TxtButton {
	display:inline;
	position:relative;
	color:#000000;
	font-size:12px;
	width:18px;
	height:18px;
	padding:1px;
	margin-bottom:2px;
	margin-right:3px;
	border:1px solid #E7E7E7;
}
ToolBar\:TxtButton.active {
	border-left:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #777777;
	border-bottom:1px solid #777777;
}
ToolBar\:TxtButton.invert {
	border-left:1px solid #777777;
	border-top:1px solid #777777;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
ToolBar\:TxtButton.disable {
	color:#999999;
}