@charset "UTF-8";

html{height:100%;}
body{width:100%;height:100%; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0; padding:0;}
body,button,input,select,textarea{font-size:12px;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
