.menu {
	position:absolute;
	cursor:default;
	width:135px;
	padding:1px;
	border:1px solid #666666;
	background-color:#F9F8F7;
	background-image:url(../images/menu_bg.gif);
	background-repeat:repeat-y;
}
.menu div {
	padding:5px 0px 0px 30px;
	color:#000000;
	font-size:12px;
	line-height:12px;
	width:104px;
	height:22px;
	overflow:hidden;
	text-overflow:ellipsis;
	position:relative;
}
.menu div.separator {
	padding:0px;
	width:105px;
	width:103px;
	height:1px;
	overflow:hidden;
	background-color:#A6A6A6;
	margin-top:1px;
	margin-bottom:1px;
	margin-left:30px;
}
.menu div img {
	position:absolute;
	width:16px;
	height:16px;
	left:2px;
	top:2px;
}
.menu div .hasChild {
	padding:0px;
	width:16px;
	height:16px;
	position:absolute;
	left:auto;
	right:0px;
	top:1px;
	background-image:url(../images/has_child.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.menu div.active {
	height:22px;
	padding:4px 0px 0px 29px;
	border:1px solid #0A246A;
	background-color:#B6BDD2;
}
.menu div.active img {
	left:1px;
	top:1px;
}
.menu div.active .hasChild {
	left:auto;
	top:0px;
	right:0px;
}
.menu div.disable {
	color:#A6A6A6;
}
.menu div.disable img {
	filter:gray();
	opacity:0.4;
}