.balloon {
	position:absolute;
	cursor:default;
	overflow:hidden;
}
.balloon td {
	font-size:12px;
}
.balloon .content{
	height:50px;
	font-size:12px;
	padding:5px;
	vertical-align:top;
	background-image:url(balloon_bg.gif);
}
.balloon .content div{
	width:200px;
	height:40px;
	overflow:hidden;
}
 
.balloon .arrow_1{
	margin-top:-3px;
	border:0px;
	background-image:url(balloon_01.gif);

	width:30px;
	height:15px;
	border:0px;
	position:absolute;
	z-index:100;
}
.balloon .arrow_2{
	margin-top:-3px;
	margin-left:-30px;
	background-image:url(balloon_02.gif);	

	width:30px;
	height:15px;
	border:0px;
	position:absolute;
	z-index:100;
}
.balloon .arrow_3{
	margin-top:1px;
	background-image:url(balloon_03.gif);

	width:30px;
	height:15px;
	border:0px;
	position:absolute;
	z-index:100;
}
.balloon .arrow_4{
	margin-top:1px;
	margin-left:-30px;
	background-image:url(balloon_04.gif);

	width:30px;
	height:15px;
	border:0px;
	position:absolute;
	z-index:100;
}