  html {
  	height:100%;
  	scrollbar-face-color: #BEC6EE;
    scrollbar-highlight-color: #C0C4E7;
    scrollbar-shadow-color: #C0C4E7;
    scrollbar-3dlight-color: #A5AEDA;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #FFFFFF;
    scrollbar-darkshadow-color: #919194;
    scrollbar-face-color: #BEC6EE;
  }
  body {
    color: #000000;
    height:100%;
    margin: 0 0 0 0;
    overflow: hidden;
    background-color: #E7E7E7;
  }

  span {
	  display:inline-block;
  }
  table {
  	 border: 0;
  	 margin: 0;
  	 border-collapse:collapse;
  }
  td {
    color: #000000;
    font-size: 12px; 
	  padding:0;
  }

  /* 充满父容器的表格 */
  table.full {
    width: 100%;
    height: 100%;
	  border:0; 
  }
  table.hFull {
    width: 100%;
  }
  table.vFull {
    height: 100%;
  }

  table.border {
    border: 1px solid #96969E;
  	border-collapse: collapse; 
  	border-spacing:0;
  }

  /* 右栏凹陷区域 */
  td.groove {
    border-left: 1px solid #9B9B9B;
    border-top: 1px solid #9B9B9B;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  div.groove {
    width: 100%;
    height: 100%;
    border-left: 1px solid #D1D1D1;
    border-top: 1px solid #D1D1D1;
    padding: 3px;
  }

  a {
    text-decoration: none;
	font-family: "宋体";
  }
  a:link {
    color: #000000;
  }
  a:active, a:visited {
    color: #96969F;
  }
  a:hover {
    text-decoration: none;
  }

  /* 顶部 */
  .top td{
    background-image: url(../images/blue_top.gif);
  }
  .top .logo {
    width: 571px;
    height: 41px;
    background-image: url(../images/title.jpg);
  }
  /* 系统功能 */
  .system {
    color: #D0E8FF;
    text-align:right;
    padding-right:16px;
    padding-top:24px;
    position:relative;
  }

  .system a:link {
    color: #D0E8FF;
  }
  .system a:active {
    color: #D0E8FF;
  }
  .system a:visited {
    color: #D0E8FF;
  }
  .system a:hover {
    text-decoration: underline;
  }
  /* 导航条 */
  a.navi:link,a.navi:visited,a.navi:active,a.navi:hover{
    color: #000000;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    padding: 2px 3px 0px 3px;
	  margin:0px 2px;
  }
  a.naviActive:link,a.naviActive:visited,a.naviActive:active,a.naviActive:hover{
    color: #000000;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    padding: 2px 3px 0px 3px;
	  margin:0px 2px;
    background-color: #ACB5F2;
    border: 1px solid #6868B0;
  }

  .panel {
    width: 100%;
    height: 100%;
  }
  .panel .header .left {
    width: 7px;
    height: 7px;
    background-image: url(../images/rec_lt.gif);
    background-repeat: no-repeat;
  }
  .panel .header .center {
    height: 7px;
    background-image: url(../images/rec_t.gif);
    background-repeat: repeat-x;
  }
  .panel .header .right {
    width: 7px;
    height: 7px;
    background-image: url(../images/rec_rt.gif);
    background-repeat: no-repeat;
  }
  .panel .footer .left {
    width: 7px;
    height: 10px;
    background-image: url(../images/rec_lb.gif);
    background-repeat: no-repeat;
    background-position: top;
  }
  .panel .footer .center {
    height: 10px;
    background-image: url(../images/rec_b.gif);
    background-repeat: repeat-x;
    background-position: top;
  }
  .panel .footer .right {
    width: 7px;
    height: 10px;
    background-image: url(../images/rec_rb.gif);
    background-repeat: no-repeat;
    background-position: top;
  }
  .panel .body .left {
    width: 7px;
    background-image: url(../images/rec_l.gif);
    background-repeat: repeat-y;
  }
  .panel .body .center {
    background-color: #E7E7E7;
  }
  .panel .body .right {
    width: 7px;
    background-image: url(../images/rec_r.gif);
    background-repeat: repeat-y;
  }

  /* 左栏 */
  #palette {
    width: 15%;
    height: 100%;
    padding-right: 5px;
  }

  /* 左栏树标题横条 */
  #palette .bar {
    color: #555555;
    font-weight: bold;
    padding-left: 4px;
    padding-top: 4px;
    height: 21px;
	  cursor:default;
  }
  /* 左栏树标题横条展开状态 */
  #palette .bar .opened{
    position: relative;
    background-image: url(../images/title_opened.gif);
    background-repeat: repeat-x;
    border-left: 1px solid #E5E8F5;
  }
  /* 左栏树标题横条折叠状态 */
  #palette .bar .closed{
    position: relative;
    background-image: url(../images/title_closed.gif);
    background-repeat: repeat-x;
    border-left: 1px solid #FFFFFF;
  }
  #palette .bar .icon {
    width: 8px;
    height: 8px;
    font-size: 1px;
    background-image: url(../images/icon_opened.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
  }
  #palette .bar .button {
    position: absolute;
    top: 3px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: hand;
  }
  #palette .bar .collapse {
    width: 11px;
    height: 13px;
    right: 2px;
    background-image: url(../images/icon_bookmark.gif);
  }
  #palette .bar .refresh {
    width: 16px;
    height: 15px;
    right: 15px;
    background-image: url(../images/icon_refresh.gif);
  }

  /* 左栏树容器 */
  #palette #treeContainer{
    background-color: #FFFFFF;
    border-bottom: 1px solid #98989C;
  }

  #paletteBt {
	  position: absolute;
    top: 1px;
    right: 0px;
    width: 18px;
    height: 18px;
    background-image: url(../images/icon_palette_opened.gif);
    background-repeat: no-repeat;
    background-position: center;
    cursor: hand;
  }

  /* 分隔线 */
  .separator {
    height: 6px;
    background-image: url(../images/sep_line.gif);
    background-repeat: repeat-x;
    background-position: center;
    font-size: 1px;
    overflow: hidden;
  }

  .l {
    border-left:1px solid #98989C;
  }
  .t {
    border-top:1px solid #98989C;
  }
  .b {
    border-bottom:1px solid #98989C;
  }
  .r {
    border-right:1px solid #98989C;
  }


  .btWeak {
  	color: #403756;
  	width: 50px;
  	height: 18px;
  	border: 0 !important;
    background-image: url(../images/button_weak.gif);
  }
  .btWeakS {
  	color: #403756;
  	width: 18px;
  	height: 18px;
  	border: 0 !important;
    background-image: url(../images/button_weak_short.gif);
  }
  .btWeakL {
  	color: #403756;
  	width: 90px;
  	height: 18px;
  	border: 0 !important;
    background-image: url(../images/button_weak_long.gif);
  }
  .btStrong {
  	color: #2F2469;
  	width: 50px;
  	height: 18px;
  	border: 0 !important;
    background-image: url(../images/button_strong.gif);
  }
  .btStrongS {
  	color: #2F2469;
  	width: 18px;
  	height: 18px;
  	border: 0 !important;
    background-image: url(../images/button_strong_short.gif);
  }
  .btStrongL {
  	color: #2F2469;
  	width: 90px;
  	height: 18px;
  	border: 0 !important;
    background-image: url(../images/button_strong_long.gif);
  }

  /* 加载中动画 */
  .loading {
  	width: 53px;
  	height: 20px;	
    background-image: url(../images/loading.gif);
  	background-repeat: no-repeat;
  	background-position: 3px 3px;
  }
  /* 列表项前的圆点图片 */
  .bullet {
    background-image: url(../images/icon_circle.gif);
  	background-repeat: no-repeat;
    background-position:1px 3px;
    width:5px;
    height:5px;
  }