
  body {
    margin: 3px;
    font-size: 12px;
    background-color:#E7E7E7;
    overflow:hidden;
  }

  .mainBox{
    background-color:white;
    border:1px solid #98989C;
    margin-left: auto;
    margin-right: auto;
    height: 99%;
   
  }

  .dialog {
    background-color:white;
    border:1px solid #98989C;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    padding:10px;
    height: 99%;
  }

  .dialog XForm\:Box {
     padding-left: 10;
     padding-top: 10;
  }

  .dialog .bt {
     padding-left: 10;
     padding-top: 10;
  }