  .dialog{
    background-color:white;
    border:1px solid #98989C;
    width:100%;
    height:100%;
	overflow:hidden;
  }

  .mainBox{
    background-color:white;
    border:1px solid #98989C;
    width:100%;
    height:100%;
    padding:5px;
  }

  body {
    margin: 10px;
    font-size: 12px;
    background-color:#E7E7E7;
    overflow:hidden;
    border:0px;
  }