  /* Other */
  .th {
    height:12px;
  }
  .th td{
    color:#98989C;
    font-weight:bold;
    border-bottom:1px solid #98989C;
  }
  .tf {
    height:21px;
  }
  .tf td{
    background-color:#BEC5E7;
  }
  .tf .label{
    padding-top:4px;
    padding-left:10px;
    color:#333333;
  }
  .tf .btBox{
    padding-right:2px;
    text-align:right;
  }
  .l{
    border-left:1px solid #98989C;
  }
  .t{
    border-top:1px solid #98989C;
  }
  .b{
    border-bottom:1px solid #98989C;
  }
  .r{
    border-right:1px solid #98989C;
  }

  .txtfield{
    color:#535458;
    font-size:12px;
    height:18px;
    border:1px solid #ABAAAF;
    background-color:#ECEFF8;
  }

  .comboContainer {
    height: 200px;
    background-color:#F7F8FD;
  }
  .comboContainer .Tree a,.comboContainer .Tree a.hover {
    border: 1px solid #F7F8FD;
  }
  .comboContainer Xform\:Form td {
    padding:5px;
  }

 

  .loginBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200;
    width:400px;
    height:300px;
    background-image:url(../images/login.gif);
    background-repeat:no-repeat;
    background-position:center;
  }
  .loginBox td {
    height:30px;
    font-weight:bold;
  }
  .loginBox a, .loginBox a:visited{
    text-decoration:underline;
    color:#FFFFFF;
  }
  .loginBox .btLogin {
    color:#ECEFF8;
    width:60px;
    height:22px;
    padding-bottom:4px;
    padding-right:4px;
    border:0px none;
    background-image:url(../images/bt_login.gif);
  } 

  #loginForm {
     padding-left: 80;
     padding-top: 80;
  }