WorkSpace\:Box {
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:12px;
	vertical-align:top;
	padding-bottom:20px;
}
WorkSpace\:Tab {
	color:#575B67;
	width:100px;
	height:19px;
	padding-right:10px;
	background-image:url(icons/bg_tab_inactive.gif);
	cursor:default;
	position:relative;
}
WorkSpace\:Tab.active {
	color:#333333;
	font-weight:bold;
	background-image:url(icons/bg_tab_active.gif);
}
WorkSpace\:Tab div {
	width:90px;
	text-align:left;
	letter-spacing:0px;
	padding:4px 12px 0px 6px;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break:keep-all;
}
WorkSpace\:Tab.active div {
	letter-spacing:-1px;
}
WorkSpace\:Tab WorkSpace\:Icon {
	font-size:10px;
	font-family:Arial;
	line-height:10px;
	width:10px;
	height:10px;
	overflow:hidden;
	background-image:url(icons/icon_tab_inactive_close.gif);
	position:absolute;
	right:6px;
	top:4px;
	cursor:hand;
}
WorkSpace\:Tab.active WorkSpace\:Icon {
	background-image:url(icons/icon_tab_active_close.gif);
}
WorkSpace\:Phase {
	cursor:default;
	width:20px;
	height:73px;
	overflow:hidden;
	background-image:url(icons/bg_phase_inactive.gif);
}
WorkSpace\:Phase div{
	padding:2px 0px 0px 2px;
	text-align:center;
	height:73px;
	display:inline;
	overflow:hidden;
	text-overflow:ellipsis;
	writing-mode:tb-rl;
}
WorkSpace\:Phase.active{
	background-image:url(icons/bg_phase_active.gif);
}
WorkSpace\:TabBox {
	cursor:default;
	margin-right:64px;
	width:100%;
	height:19px;
	position:relative;
	display:inline;
	overflow:hidden;
}
WorkSpace\:TabBox.hasTab {
	background-image:url(icons/bg_tab_box.gif);
	background-repeat:repeat-x;
}
WorkSpace\:Box .rightBox {
	font-size:12px;
	line-height:14px;
	width:20px;
	height:100%;
	display:inline;
	overflow:hidden;
	margin-left:-4px;
	float:right;
	cursor:default;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	background-color:#BEC5E7;
	background-image:url(icons/bg_phase_box.gif);
	background-repeat:repeat-y;
	position:relative;
	z-index:100;
}
WorkSpace\:Box .rightBox td{
	vertical-align:top;
}
WorkSpace\:PhaseBox {
	font-size:12px;
	line-height:14px;
	width:20px;
	height:100%;
	display:inline;
	overflow:hidden;
	cursor:default;
}
WorkSpace\:TabCtrl {
	cursor:default;
	width:64px;
	height:18px;
	margin-left:-64px;
	display:inline;
	overflow:hidden;
	border-bottom:1px solid #999999;
}
WorkSpace\:PhaseCtrl {
	cursor:default;
	width:20px;
	height:70px;
	padding-left:2px;
	padding-top:2px;
	display:inline;
	overflow:hidden;
}
WorkSpace\:CtrlBt {
	cursor:default;
	font-family:Webdings;
	font-size:10px;
	width:16px;
	height:16px;
	padding:0px;
	overflow:hidden;
	border:1px solid #E7E7E7;
}
WorkSpace\:Box.rightBox WorkSpace\:CtrlBt {
	border:1px solid #BEC5E7;
}
WorkSpace\:CtrlBt.active {
	cursor:default;
	font-family:Webdings;
	font-size:10px;
	width:16px;
	height:16px;
	overflow:hidden;
	border:1px solid #0A246A;
	background-color:#B6BDD2;
}
WorkSpace\:CtrlBt.invert {
	cursor:default;
	font-family:Webdings;
	font-size:10px;
	width:16px;
	height:16px;
	overflow:hidden;
	border:1px solid #FFFFFF;
	background-color:#B6BDD2;
	color:#FFFFFF;
}
WorkSpace\:CtrlBt.disabled {
	filter:alpha(opacity=30);
	opacity:0.3;
}
WorkSpace\:Page {
	height:100%;
	padding:20px;
	margin-right:0px;
	display:none;
	overflow:auto;
	background-color:#F7F8FD;
	border-left:1px solid #98989C;
	border-right:1px solid #98989C;
	border-bottom:1px solid #98989C;
}
WorkSpace\:Page.tight {
	padding:0px;
}
WorkSpace\:PageStep {
	text-align:right;
	padding:5px;
	width:100%;
	display:block;
}

WorkSpace\:Page Xform\:Form .xform .contentBox td {
	padding:5px;
}


WorkSpace\:Page .Tree a, WorkSpace\:Page .Tree a.hover {
	border: 1px solid #F7F8FD;
}