WorkSpace\:Box {
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:12px;
	vertical-align:top;
	display:inline-block;
}
WorkSpace\:Tab {
	color:#575B67;
	width:100px;
	height:19px;
	background-image:url(icons/bg_tab_inactive.gif);
	cursor:default;
	position:relative;
	display:inline-block;
}
WorkSpace\:Tab.active {
	color:#333333;
	font-weight:bold;
	background-image:url(icons/bg_tab_active.gif);
}
WorkSpace\:Tab div {
	width:90px;
	text-align:left;
	letter-spacing:0px;
	padding:4px 12px 0px 6px;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break:keep-all;
}
WorkSpace\:Tab.active div {
	letter-spacing:-1px;
}
WorkSpace\:Tab WorkSpace\:Icon {
	font-size:10px;
	font-family:Arial;
	line-height:10px;
	width:10px;
	height:10px;
	overflow:hidden;
	background-image:url(icons/icon_tab_inactive_close.gif);
	position:absolute;
	right:6px;
	top:4px;
	cursor:hand;
}
WorkSpace\:Tab.active WorkSpace\:Icon {
	background-image:url(icons/icon_tab_active_close.gif);
}
WorkSpace\:Phase {
	cursor:default;
	width:20px;
	height:73px;
	overflow:hidden;
	display: block;
	background-image:url(icons/bg_phase_inactive.gif);
}
WorkSpace\:Phase div {
	padding:4px 3px 1px 1px;
	text-align:center;
	height:73px;
	overflow:hidden;
	text-overflow:ellipsis;
	writing-mode:tb-rl;
}
WorkSpace\:Phase.active{
	background-image:url(icons/bg_phase_active.gif);
}
WorkSpace\:TabBox {
	cursor:default;
	width:100%;
	height:19px;
	position:relative;
	display:inline-block;
	overflow:hidden;
}
WorkSpace\:TabBox.hasTab {
	background-image:url(icons/bg_tab_box.gif);
	background-repeat:repeat-x;
}
WorkSpace\:Box .rightBox {
	font-size:12px;
	line-height:14px;
	width:20px;
	height:100%;
	display:inline;
	overflow:hidden;
	margin-left:-4px;
	float:right;
	cursor:default;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	background-color:#BEC5E7;
	background-image:url(icons/bg_phase_box.gif);
	background-repeat:repeat-y;
	position:relative;
	z-index:100;
}
WorkSpace\:Box .rightBox td{
	vertical-align:top;
}
WorkSpace\:PhaseBox {
	font-size:12px;
	line-height:14px;
	width:20px;
	height:100%;
	display:inline;
	overflow:hidden;
	cursor:default;
}
 
WorkSpace\:Page {
	height:100%;
	padding:20px;
	margin-right:0px;
	display:none;
	overflow:hidden;
	background-color:#F7F8FD;
	border-left:1px solid #98989C;
	border-right:1px solid #98989C;
	border-bottom:1px solid #98989C;
	display:inline-block;
}
WorkSpace\:Page.tight {
	padding:0px;
}
WorkSpace\:PageStep {
	text-align:center;
	padding:15 0 0 0;
	width:100%;
	display:block;
}

WorkSpace\:Page Xform\:Form .xform .contentBox td {
	padding:5px;
}

WorkSpace\:Page .Tree a, WorkSpace\:Page .Tree a.hover {
	border: 1px solid #F7F8FD;
}