
Grid\:Box {
	position:relative;
	border:0px solid #96969E;
	background-color:#FFFFFF;
	padding-top:0px;
	width:100%;
	height:100%;
	font-family: "宋体";
	display:inline-block;
}

Grid\:Box table {
	width:100%;
	table-layout:fixed;
    border: 0;
    margin: 0;
    border-collapse:collapse;
}

Grid\:Box .column {
	text-align:center;
	border-style:solid;
	border-color:#FFFFFF #96969E #96969E #FFFFFF;
	border-width: 1 1 1 1;
	background-color:#E4E6F5;
    height:25px;
    font-size:12px;
}

Grid\:Box .cell {
	background-color:#F7F8FD;	
}

Grid\:Box .cell td, Grid\:Box .header td {
    font-size:12px;
	border-style:solid;
	border-color:#FFFFFF #96969E #96969E #FFFFFF;	
	border-width: 1 1 1 1;
	overflow:hidden;
	text-overflow:ellipsis;
}

Grid\:Box .cell tr {
    height:22px;
}

Grid\:Box .highlightCol {
	background-color:#FFFFCC;
}

Grid\:Box .highlightRow td {
	background-color:#FEF7A9;
}

Grid\:Box .rolloverRow {
	background-color:#FEF7A9;
}

Grid\:Box .hidden {
	display:none;
}

Grid\:Box .asc {  
	background: #FFFFCC url(../images/up.gif) no-repeat right 5px;
} 
Grid\:Box .desc {
	background: #FFFFCC url(../images/down.gif) no-repeat right 5px;
} 
Grid\:Box .sorting {
	background: #F0EFE5;
}


/* grid列表标题栏 */
#gridTitle {
    color: #0a1755;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding-left: 8px;
    background-color: #BEC6EE;
    border-bottom: 1px solid #96969E;
    position: relative;
    cursor:default;
}
#gridTitle .icon {
    display:inline-block;
    width: 8px;
    height: 8px;
    font-size: 1px;
    background-image: url(../images/icon_opened.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
#gridTitle .buttonBox {
    position: absolute;
    top: 0px;
    right:0px;
}

#gridTitle .button {
    display:inline-block;
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: hand;
    margin:2 2 2 2px;
}
 
#gridTitle .refresh {
  background-image: url(../images/icon_refresh.gif);
}
#gridTitle .first {
  background-image: url(../images/first.gif);
}
#gridTitle .prev {
  background-image: url(../images/prev.gif);
}
#gridTitle .next {
  background-image: url(../images/next.gif);
}
#gridTitle .last {
  background-image: url(../images/last.gif);
}

#gridTitle select {
    font-size:10px;
    font-family:Verdana;
    position:relative;
    top:-4px;
    right:1px;
}