<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>dm</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:META-INF/*spring*.xml,
			classpath*:META-INF/remote/um-*.xml,
			/WEB-INF/remote-service.xml
		</param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			com.jinhe.tss.framework.web.GlobalSuportXmlWebApplicationContext
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- config remote service start -->
	<servlet>
	    <servlet-name>PermissionServiceExporter</servlet-name>
	    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>PermissionServiceExporter</servlet-name>
	    <url-pattern>/remote/PermissionService</url-pattern>
	</servlet-mapping>
		
	<servlet>
	    <servlet-name>ResourcePermissionExporter</servlet-name>
	    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ResourcePermissionExporter</servlet-name>
	    <url-pattern>/remote/ResourcePermission</url-pattern>
	</servlet-mapping>
	<!-- config remote service end -->
	
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	

</web-app>
